# Python virtual environment
envClass/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Data files (if they're large)
*.tif
*.tiff
*.geotiff
*.nc
*.hdf5

# Logs
*.log 